/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

:root {
  /* colors */
  --body-bg: hsl(0, 0%, 0%);
  --input-field-bg: hsl(0, 0%, 10%);
  --color-primary: hsl(0, 0%, 100%);
  --color-content: hsl(0, 0%, 72%);
  --red: #ff0055;
  /* fonts */
  --ff-primary: "Satoshi", sans-serif;
  --ff-body: var(--font-primary);
  --ff-heading: var(--font-primary);
  --fw-lt: 300;
  --fw-rg: 400;
  --fw-m: 500;
  --fw-b: 700;
  --fs-rg: clamp(1.25rem, 2vw, 1.35rem);
  --fs-m: clamp(2.25rem, 3vw, 2.65rem);
  --fs-lg: clamp(2.45rem, 4vw, 3.5rem);
  --fs-xl: clamp(3rem, 6vw, 5rem);

  /* dimensions */
  --max-app-width: 1440px;
  --max-content-width: 1060px;
}
/*
 Allow percentage-based heights in the application
*/
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  background: var(--body-bg);
  color: var(--color-primary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg,
canvas {
  max-width: 100%;
  display: block;
}
/* Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */
.App {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: var(--max-app-width);
}
/* COPY STYLES */
.title {
  font-size: var(--fs-m);
  font-family: var(--ff-heading);
  font-weight: var(--fw-m);
}
.titleMd {
  font-size: var(--fs-lg);
  font-family: var(--ff-heading);
  font-weight: var(--fw-m);
}
.titleXl {
  font-size: var(--fs-xl);
  font-family: var(--ff-heading);
  font-weight: var(--fw-r);
}
.infoTxt {
  color: var(--color-content);
  font-family: var(--ff-body);
  font-size: var(--fs-rg);
}
.contentCtr {
  font-family: var(--ff-body);
  font-size: var(--fs-rg);
  width: 100%;
  height: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: clamp(5rem, 8vw, 7rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}
@media screen and (min-width: 50em) {
}
